# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.tox/

# Sphinx documentation
docs/_build/

# virtualenv
.venv*
venv*
ENV/

# vim
*.swp

# OSX
.DS_Store

# temporary artifacts
logs/

# sqlite databases
*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode

docs/make.bat
docs/Makefile
docs/source/_static
docs/source/_templates